.clang-format
.clangd
.cproject
.idea/
.project
.settings/
.vscode/
build/
cmake-build-debug/
venv/
build/.bin_timestamp
build/.bin_timestamp
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/compile_commands.json
build/i2c-basic.bin
build/i2c-basic.elf
build/i2c-basic.map
build/project_description.json
build/bootloader/.bin_timestamp
build/bootloader/.ninja_deps
build/bootloader/.ninja_log
build/bootloader/bootloader.bin
build/bootloader/bootloader.elf
build/bootloader/CMakeFiles/CMakeOutput.log
build/bootloader/esp-idf/esp_bootloader_format/libesp_bootloader_format.a
build/bootloader/esp-idf/esp_bootloader_format/CMakeFiles/__idf_esp_bootloader_format.dir/esp_bootloader_desc.c.obj
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/git-data/head-ref
build/esp-idf/esp_app_format/libesp_app_format.a
build/esp-idf/esp_app_format/CMakeFiles/__idf_esp_app_format.dir/esp_app_desc.c.obj
build/esp-idf/esp_bootloader_format/libesp_bootloader_format.a
build/esp-idf/esp_bootloader_format/CMakeFiles/__idf_esp_bootloader_format.dir/esp_bootloader_desc.c.obj
build/esp-idf/main/libmain.a
build/esp-idf/mpu9250/libmpu9250.a
build/esp-idf/mpu9250/CMakeFiles/__idf_mpu9250.dir/mpu9250.c.obj
